.logo {
  margin: 10px;
  background: linear-gradient(
    to left,
    rgba(11, 79, 174, 0.557),
    rgba(219, 228, 138, 0.642)
  );
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #22222260;
  height: 150px;
  width: 150px;
  position: relative;
  left: 20px;
  top: -90px;
}

.logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brain {
  color: rgba(0, 21, 255, 0.613);
  height: 80px;
}
